<nav class="navbar" style="background-color: #ffcc00;">
    <div class="container-fluid justify-content-center" >
        <form class="d-flex" role="search" style="height: 52%">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" style="height: 50%">
            <button class="btn btn-outline-success" type="submit" style="height: 50%">Поиск</button>
        </form>
    </div>
</nav>