@page "/loginpage"
@inject NavigationManager NavigationManager
<style>
    .signatures {
        font-size: 65%;
    }

    input[type="date"] {
        width: 100%;
    }

    .reg {
        background: #e8e8e8;
        width: 49%
    }

    .log {
        width: 49%;
        background: #ffcc00;
    }
</style>

<div style="background-color:#f3f3f2; width:100%; height: 100%;vertical-align: middle">
    <table>
        <tr>
            <th>
                <img src="https://images.vexels.com/media/users/3/129733/isolated/preview/a558682b158debb6d6f49d07d854f99f-casual-male-avatar-silhouette.png" alt="Avatar" style="width:50%; height: 50%; float:right" class="avatar">
            </th>
            <th>
                <div>
                    <div style="margin: 4% 70% 4% 10%;background-color:white">
                        <table>
                            <tr>
                                <th colspan="2">
                                    <font class="signatures">E-Mail</font>
                                    <input type="email" size="40">
                                </th>
                            </tr>
                            <tr>
                                <th colspan="2">
                                    <font class="signatures">Пароль</font>
                                    <input type="password" size="40">
                                </th>
                            </tr>

                            <tr>
                                <th>
                                    <input type="button" class="reg" value="Регистрация" @onclick="() => NavigateToReg()" />
                                    <input type="button" class="log" value="Вход" @onclick="() => NavigateToLogin()" />
                                </th>
                            </tr>
                        </table>
                    </div>
                </div>
            </th>
        </tr>
    </table>

</div>
@code {
    private void NavigateToReg()
    {
        NavigationManager.NavigateTo($"/regpage");
    }
    private void NavigateToLogin()
    {
        
    }
}
